.container{

padding:0.01em 16px;

}

.light-grey{

color:#000!important;/*(強制規則)* class內具備(!important)項目 > style定義 > class定義 > default定義*/
background-color:#f1f1f1!important

}
.green{

	color:#fff!important;
	background-color:#4CAF50!important
}

.button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	overflow:hidden;
	text-decoration:none;	
	text-align:center;
	cursor:pointer;
	white-space:nowrap;/*文字不進行換行*/
	-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
	width:7%;
	
	
}
.button:hover{color:#000!important;background-color:#ccc!important}